body {
	position: relative; 
}

#section1 {
	padding-top:50px;width:100%;height:1030px;color: #fff; background-color: #003B46;
}

#section2 {
	padding-top:50px;width:100%;height:1030px;color: #fff; background-color: #07575B;
}

#section3 {
	padding-top:50px;width:100%;height:1030px;color: #fff; background-color: #66A5AD;
}

#section4 {
	padding-top:50px;width:100%;height:1030px;color: #fff; background-color: #C4DFE6;
}
